---
import Layout from '../layouts/Layout.astro';

import Inicio from '../components/inicio.astro';
import Sobremi from '../components/sobremi.astro';
import Experiencia from '../components/experiencia.astro';
import Proyectos from '../components/proyectos.astro';
import Introduccion from '../components/introduccion.astro';
import Contacto from '../components/contacto.astro';
---

<Layout>
	<main>
		<Inicio/>
		<Introduccion/>
		<Sobremi/>
		<Proyectos/>
		<Experiencia/>
		<Contacto/>
	</main>
	<footer class="footer_final">
		<span>
			©2025. MIGUEL JESUS
		</span>
		<span>
			PROGRAMADOR FULL STACK
		</span>
	</footer>
</Layout>

<style>
	.footer_final {
		display: flex;
    	flex-direction: column;
		align-items: center;
		padding: 30px;
		text-align: center;
		gap: 5px;
	}

	.footer_final span {
		font-size: 12px;
    	font-weight: 600;
		color: #919191;
	}
</style>