---

---

<section class="contacto">
    <div>
        <div class="contacto-mensaje">
            <span class="contacto-mensaje-texto text1">
                BACKEND SOLIDO
            </span>
            <span class="contacto-mensaje-texto text2">
                FRONTEND QUE BRILLA
            </span>
        </div>
        <div class="contacto-link">
            <a href="mailto:31miguelop31@gmail.com">TRABAJEMOS JUNTOS</a>
        </div>
    </div>
</section>

<style>
    .contacto {
        padding: 200px 30px;
    }

    .contacto > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contacto-mensaje {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 60px;
        font-weight: 800;
        line-height: 70px;
        overflow: hidden;
    }

    .contacto-link a {
        color: #747474;
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 6px;
        transition: 0.2s ease;
    }

    .contacto-link a:hover {
        color: #000000;
    }

    @media only screen and (max-width: 1000px) {
        .contacto-mensaje {
            font-size: 50px;
            line-height: 60px;
        }

        .contacto-link a {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 800px) { 
        .contacto {
            padding: 180px 20px;
        }
    }

    @media only screen and (max-width: 600px) {
        .contacto-mensaje {
            font-size: 40px;
            line-height: 45px;
        }

        .contacto-link a {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 400px) {
        .contacto-mensaje {
            font-size: 30px;
            line-height: 35px;
        }

        .contacto-link a {
            font-size: 9px;
        }
    }
</style>