---

---

<section class="experiencia">
    <div class="experiencia-titulo">
        <span>Experiencia Laboral</span>
        <span>A TRAVES DE LOS AÑOS</span>
    </div>
    <div class="experiencia-cartas">
        <div>
            <div class="experiencia-cartas-titulo">
                <span>GOMEZ CALDERON RUDBY WILDER</span>
                <span>Full-Stack | 02/23 - 06/23</span>
            </div>
            <br>
            <div class="experiencia-cartas-descripcion">
                Encargado del desarrollo de aplicaciones de escritorio utilizando diversos lenguajes de 
                programación como C#, Java y C++. Responsable del diseño, implementación y mantenimiento de 
                bases de datos relacionales (SQL Server, MySQL), optimizando el rendimiento y la eficiencia 
                del código mediante buenas prácticas de programación. Participación activa en todas las 
                etapas del ciclo de vida del software, aplicando metodologías ágiles y documentando 
                los procesos técnicos.
            </div>
        </div>
        <div>
            <div class="experiencia-cartas-titulo">
                <span>MULTISERVICIOS ANTCOR SAC</span>
                <span>Front-End | 09/23 - 12/23</span>
            </div>
            <br>
            <div class="experiencia-cartas-descripcion">
                Responsable del desarrollo e implementación de un sitio web corporativo para una empresa 
                dedicada a la fabricación de maletas, utilizando el framework React y aplicando las mejores 
                prácticas de desarrollo frontend. Coordinación con el equipo de desarrollo backend para la 
                integración de una API RESTful destinada a la gestión eficiente de datos entre múltiples 
                entidades del sistema. Participación activa en el diseño de la arquitectura del proyecto, 
                asegurando una comunicación fluida entre el cliente y el servidor, bajo metodologías ágiles 
                y principios de desarrollo escalable.
            </div>
        </div>
        <div>
            <div class="experiencia-cartas-titulo">
                <span>FREELANCER</span>
                <span>Full-Stack | 02/24 - Actualidad</span>
            </div>
            <br>
            <div class="experiencia-cartas-descripcion">
                Diseño y desarrollo de soluciones web y aplicaciones de escritorio, abarcando tanto la capa 
                frontend como backend, según los requerimientos funcionales de cada proyecto. Implementación 
                de interfaces interactivas y arquitecturas robustas utilizando múltiples lenguajes de 
                programación. Gestión de bases de datos relacionales para asegurar el almacenamiento 
                estructurado y eficiente de la información, aplicando principios de normalización, integridad 
                y rendimiento.
            </div>
        </div>
    </div>
</section>

<style>
    .experiencia {
        display: flex;
        flex-direction: column;
        padding: 80px 30px;
        background-color: #ffffff;
        gap: 80px;
    }
    
    .experiencia-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    
    .experiencia-titulo span:nth-child(1) {
        font-size: 14px;
        font-weight: 500;
        color: #747474;
    }

    .experiencia-titulo span:nth-child(2) {
        font-size: 30px;
        font-weight: 700;
    }
    
    .experiencia-cartas {
        display: flex;
        gap: 70px;
    }

    .experiencia-cartas > div {
        border-radius: 8px;
        flex: 1;
    }

    .experiencia-cartas-titulo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .experiencia-cartas-titulo span:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
    }

    .experiencia-cartas-titulo span:nth-child(2) {
        font-size: 12px;
        color: #515151;
    }

    .experiencia-cartas-descripcion {
        font-size: 15px;
        text-align: justify;
    }
</style>