---
import Fondo from '../assets/fondo/fondo-inicio.webp';
---

<section class="inicio">
    <div class="inicio-frase">
        <span>
            Transformo ideas en soluciones digitales funcionales y escalables. Mi 
            código no solo resuelve problemas, también cuenta historias.
        </span>
    </div>
    <div class="inicio-desc">
        <div>
            <svg class="inicio-desc-letras" width="5525.842" height="525.01" viewBox="0 0 5525.842 525.01" xmlns="http://www.w3.org/2000/svg">
                <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0mm" fill="#000" style="stroke:#000;stroke-width:0mm;fill:#000">
                    <path d="M 0 516.802 L 0 7.525 L 132.959 7.525 L 273.096 349.664 L 278.906 349.664 L 419.385 7.525 L 552.686 7.525 L 552.686 516.802 L 447.412 516.802 L 447.412 185.259 L 443.311 185.259 L 311.035 514.41 L 239.941 514.41 L 108.691 184.576 L 104.59 184.576 L 104.59 516.802 L 0 516.802 Z M 1237.988 172.271 L 1128.955 172.271 Q 1123.828 154.156 1114.429 139.971 Q 1105.029 125.787 1091.357 116.045 Q 1077.686 106.304 1060.425 101.006 Q 1043.164 95.709 1022.314 95.709 Q 983.35 95.709 953.784 115.02 Q 924.219 134.332 907.642 171.587 Q 891.064 208.843 891.064 261.822 Q 891.064 314.8 907.471 352.056 Q 923.877 389.312 953.442 408.965 Q 983.008 428.619 1023.34 428.619 Q 1059.912 428.619 1085.718 415.46 Q 1111.523 402.3 1125.366 378.375 Q 1139.209 354.449 1139.209 321.978 L 1161.084 325.396 L 1030.176 325.396 L 1030.176 244.39 L 1243.115 244.39 L 1243.115 308.648 Q 1243.115 375.64 1214.746 423.834 Q 1186.377 472.027 1136.646 497.833 Q 1086.914 523.638 1022.656 523.638 Q 950.879 523.638 896.704 492.022 Q 842.529 460.406 812.28 401.788 Q 782.031 343.169 782.031 262.847 Q 782.031 180.132 813.647 121.514 Q 845.264 62.896 899.268 31.793 Q 953.271 0.689 1020.605 0.689 Q 1063.672 0.689 1100.928 13.165 Q 1138.184 25.64 1167.236 48.711 Q 1196.289 71.783 1214.575 103.057 Q 1232.861 134.332 1237.988 172.271 Z M 2132.471 516.802 L 1788.623 516.802 L 1788.623 7.525 L 2131.787 7.525 L 2131.787 96.392 L 1895.947 96.392 L 1895.947 216.021 L 2114.014 216.021 L 2114.014 303.179 L 1895.947 303.179 L 1895.947 427.935 L 2132.471 427.935 L 2132.471 516.802 Z M 3427.881 516.802 L 3084.033 516.802 L 3084.033 7.525 L 3427.197 7.525 L 3427.197 96.392 L 3191.357 96.392 L 3191.357 216.021 L 3409.424 216.021 L 3409.424 303.179 L 3191.357 303.179 L 3191.357 427.935 L 3427.881 427.935 L 3427.881 516.802 Z M 3473.34 356.841 L 3577.246 356.841 Q 3579.297 382.134 3592.285 399.395 Q 3605.273 416.656 3627.148 425.201 Q 3649.023 433.746 3677.393 433.746 Q 3704.736 433.746 3725.073 425.884 Q 3745.41 418.023 3756.519 403.838 Q 3767.627 389.654 3767.627 370.855 Q 3767.627 353.765 3757.544 342.144 Q 3747.461 330.523 3728.149 322.32 Q 3708.838 314.117 3681.152 307.623 L 3625.439 293.951 Q 3561.182 278.57 3523.926 244.903 Q 3486.67 211.236 3486.67 154.839 Q 3486.67 108.697 3511.792 74.004 Q 3536.914 39.312 3580.493 20.001 Q 3624.072 0.689 3679.785 0.689 Q 3736.523 0.689 3778.735 20.171 Q 3820.947 39.654 3844.702 74.175 Q 3868.457 108.697 3869.141 153.814 L 3765.576 153.814 Q 3762.842 124.078 3740.112 107.33 Q 3717.383 90.582 3678.76 90.582 Q 3652.783 90.582 3634.497 97.93 Q 3616.211 105.279 3606.641 118.267 Q 3597.07 131.255 3597.07 148.003 Q 3597.07 165.777 3608.008 177.911 Q 3618.945 190.044 3637.231 197.735 Q 3655.518 205.425 3677.393 210.552 L 3722.852 221.832 Q 3756.006 229.351 3784.033 241.827 Q 3812.061 254.302 3832.739 272.418 Q 3853.418 290.533 3864.697 314.971 Q 3875.977 339.41 3875.977 371.197 Q 3875.977 418.023 3852.563 452.374 Q 3829.15 486.724 3785.059 505.352 Q 3740.967 523.98 3678.418 523.98 Q 3616.895 523.98 3571.265 505.181 Q 3525.635 486.382 3500.171 449.127 Q 3474.707 411.871 3473.34 356.841 Z M 4396.533 356.841 L 4500.439 356.841 Q 4502.49 382.134 4515.479 399.395 Q 4528.467 416.656 4550.342 425.201 Q 4572.217 433.746 4600.586 433.746 Q 4627.93 433.746 4648.267 425.884 Q 4668.604 418.023 4679.712 403.838 Q 4690.82 389.654 4690.82 370.855 Q 4690.82 353.765 4680.737 342.144 Q 4670.654 330.523 4651.343 322.32 Q 4632.031 314.117 4604.346 307.623 L 4548.633 293.951 Q 4484.375 278.57 4447.119 244.903 Q 4409.863 211.236 4409.863 154.839 Q 4409.863 108.697 4434.985 74.004 Q 4460.107 39.312 4503.687 20.001 Q 4547.266 0.689 4602.979 0.689 Q 4659.717 0.689 4701.929 20.171 Q 4744.141 39.654 4767.896 74.175 Q 4791.65 108.697 4792.334 153.814 L 4688.77 153.814 Q 4686.035 124.078 4663.306 107.33 Q 4640.576 90.582 4601.953 90.582 Q 4575.977 90.582 4557.69 97.93 Q 4539.404 105.279 4529.834 118.267 Q 4520.264 131.255 4520.264 148.003 Q 4520.264 165.777 4531.201 177.911 Q 4542.139 190.044 4560.425 197.735 Q 4578.711 205.425 4600.586 210.552 L 4646.045 221.832 Q 4679.199 229.351 4707.227 241.827 Q 4735.254 254.302 4755.933 272.418 Q 4776.611 290.533 4787.891 314.971 Q 4799.17 339.41 4799.17 371.197 Q 4799.17 418.023 4775.757 452.374 Q 4752.344 486.724 4708.252 505.352 Q 4664.16 523.98 4601.611 523.98 Q 4540.088 523.98 4494.458 505.181 Q 4448.828 486.382 4423.364 449.127 Q 4397.9 411.871 4396.533 356.841 Z M 1615.332 329.156 L 1615.332 7.525 L 1722.998 7.525 L 1722.998 338.043 Q 1722.998 393.755 1696.509 435.626 Q 1670.02 477.496 1622.51 500.738 Q 1575 523.98 1511.768 523.98 Q 1448.535 523.98 1401.025 500.738 Q 1353.516 477.496 1327.197 435.626 Q 1300.879 393.755 1300.879 338.043 L 1300.879 7.525 L 1408.203 7.525 L 1408.203 329.156 Q 1408.203 358.209 1421.191 380.938 Q 1434.18 403.668 1457.422 416.485 Q 1480.664 429.302 1511.768 429.302 Q 1543.213 429.302 1566.455 416.485 Q 1589.697 403.668 1602.515 380.938 Q 1615.332 358.209 1615.332 329.156 Z M 4239.648 329.156 L 4239.648 7.525 L 4347.314 7.525 L 4347.314 338.043 Q 4347.314 393.755 4320.825 435.626 Q 4294.336 477.496 4246.826 500.738 Q 4199.316 523.98 4136.084 523.98 Q 4072.852 523.98 4025.342 500.738 Q 3977.832 477.496 3951.514 435.626 Q 3925.195 393.755 3925.195 338.043 L 3925.195 7.525 L 4032.52 7.525 L 4032.52 329.156 Q 4032.52 358.209 4045.508 380.938 Q 4058.496 403.668 4081.738 416.485 Q 4104.98 429.302 4136.084 429.302 Q 4167.529 429.302 4190.771 416.485 Q 4214.014 403.668 4226.831 380.938 Q 4239.648 358.209 4239.648 329.156 Z M 2520.068 516.802 L 2194.336 516.802 L 2194.336 7.525 L 2301.66 7.525 L 2301.66 427.935 L 2520.068 427.935 L 2520.068 516.802 Z M 2680.371 373.248 L 2680.371 367.437 L 2787.695 367.437 L 2787.695 373.248 Q 2787.695 393.414 2795.557 407.769 Q 2803.418 422.125 2817.432 429.815 Q 2831.445 437.505 2850.244 437.505 Q 2870.068 437.505 2883.911 428.961 Q 2897.754 420.416 2904.932 403.838 Q 2912.109 387.261 2912.109 362.994 L 2912.109 7.525 L 3018.408 7.525 L 3018.408 362.994 Q 3018.408 411.871 2997.9 448.101 Q 2977.393 484.332 2939.624 503.985 Q 2901.855 523.638 2850.244 523.638 Q 2804.102 523.638 2765.479 507.232 Q 2726.855 490.826 2703.613 457.671 Q 2680.371 424.517 2680.371 373.248 Z M 5263.33 525.005 Q 5209.326 525.005 5161.646 504.498 Q 5113.965 483.99 5077.734 447.93 Q 5041.504 411.871 5021.167 364.361 Q 5000.83 316.851 5000.83 262.505 Q 5001.172 208.16 5021.68 160.479 Q 5042.188 112.798 5078.247 76.739 Q 5114.307 40.679 5161.816 20.342 Q 5209.326 0.005 5263.33 0.005 Q 5318.018 0.005 5365.527 20.342 Q 5413.037 40.679 5449.097 76.739 Q 5485.156 112.798 5505.493 160.479 Q 5525.83 208.16 5525.83 262.505 Q 5526.172 316.851 5505.835 364.361 Q 5485.498 411.871 5449.438 447.93 Q 5413.379 483.99 5365.698 504.498 Q 5318.018 525.005 5263.33 525.005 Z M 5398.34 235.162 L 5324.512 235.162 Q 5320.752 216.705 5303.833 204.742 Q 5286.914 192.779 5265.723 192.779 Q 5246.924 192.779 5231.03 202.007 Q 5215.137 211.236 5205.737 227.129 Q 5196.338 243.023 5195.996 262.164 Q 5196.338 281.304 5205.737 297.027 Q 5215.137 312.75 5231.03 322.149 Q 5246.924 331.548 5265.723 331.548 Q 5287.256 331.548 5302.808 319.756 Q 5318.359 307.964 5322.461 289.507 L 5395.947 289.507 Q 5392.529 321.636 5374.243 347.1 Q 5355.957 372.564 5327.93 387.432 Q 5299.902 402.3 5265.723 402.3 Q 5227.1 402.3 5195.142 383.502 Q 5163.184 364.703 5144.385 332.745 Q 5125.586 300.787 5125.586 262.505 Q 5125.586 223.541 5144.385 191.753 Q 5163.184 159.966 5195.142 140.997 Q 5227.1 122.027 5265.723 122.369 Q 5299.902 122.027 5328.613 136.895 Q 5357.324 151.763 5375.952 177.398 Q 5394.58 203.033 5398.34 235.162 Z M 618.311 7.525 L 725.635 7.525 L 725.635 516.802 L 618.311 516.802 L 618.311 7.525 Z M 5263.33 441.949 Q 5300.928 441.949 5333.569 427.935 Q 5366.211 413.921 5390.991 389.312 Q 5415.771 364.703 5429.614 332.232 Q 5443.457 299.761 5443.457 262.505 Q 5443.457 225.25 5429.443 192.437 Q 5415.43 159.625 5390.649 135.015 Q 5365.869 110.406 5333.398 96.392 Q 5300.928 82.378 5263.33 82.378 Q 5226.416 82.378 5193.945 96.392 Q 5161.475 110.406 5136.865 135.186 Q 5112.256 159.966 5098.242 192.608 Q 5084.229 225.25 5084.229 262.505 Q 5083.887 299.419 5097.729 332.061 Q 5111.572 364.703 5136.353 389.312 Q 5161.133 413.921 5193.774 427.935 Q 5226.416 441.949 5263.33 441.949 Z" vector-effect="non-scaling-stroke"/>
                </g>
            </svg>
            <span>
                Desarrollador web de Lima, Perú, enfocado en crear soluciones digitales eficientes, 
                modernas, escalables, seguras y accesibles ——
            </span>
        </div>
        <img src={Fondo.src} alt="">
    </div>
</section>

<style>
    .inicio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        padding: 90px 30px 0px 30px;
        box-sizing: border-box;
        gap: 150px;
    }

    .inicio-frase {
        max-width: 445px;
    }

    .inicio-frase span {
        font-weight: 600;
        text-transform: uppercase;
        color: #adadad;
    }

    .inicio-desc {
        display: flex;
        gap: 40px;
    }

    .inicio-desc > div {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 25px;
        overflow: hidden;
    }

    .inicio-desc > div span {
        max-width: 500px;
        color: #515151;
    }

    .inicio-desc > div svg {
        height: auto;
        width: 100%;
    }

    .inicio-desc img {
        width: 19.5%;
        height: 45vh;
        aspect-ratio: 1;
        object-fit: cover;
    }

    @media only screen and (max-width: 1000px) {
        .inicio {
            min-height: 100svh;
        }

        .inicio-desc {
            flex-direction: column;
            gap: 20px;
        }

        .inicio-desc img {
            width: 100%;
            height: 150px;
        }
    }

    @media only screen and (max-width: 800px) {
        .inicio {
            padding: 90px 20px 0px 20px;
        }
    }

    @media only screen and (max-width: 600px) {
        .inicio {
            justify-content: flex-start;
            gap: 50px;
        }

        .inicio-frase span {
            font-size: 18px;
        }

        .inicio-desc {
            flex: 1;
        }

        .inicio-desc > div {
            gap: 15px;
        }

        .inicio-desc img {
            width: 100%;
            height: auto;
            min-height: 180px;
            flex: 1;
        }
    }

    @media only screen and (max-width: 400px) {
        .inicio {
            gap: 50px;
        }

        .inicio-frase span {
            font-size: 15px;
        }
    }
</style>