---

---

<section class="introduccion">
    <div class="introduccion-mensaje">
        <span>
            Manifiesto
        </span>
        <span class="introduccion-mensaje-texto">
            Desde la arquitectura técnica hasta la experiencia visual, desarrollo sistemas y plataformas 
            que no solo funcionan, sino que conectan, destacan y perduran. Mi enfoque combina estrategia, 
            diseño y programación para crear experiencias digitales modernas, funcionales y memorables. 
            Porque hacer que una marca sobresalga no es mi meta, es mi punto de partida.
        </span>
    </div>
</section>

<style>
    .introduccion {
        padding: 270px 30px 0px 30px;
    }

    .introduccion-mensaje {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 490px;
        margin: auto;
        gap: 20px;
    }

    .introduccion-mensaje span:nth-child(1) {
        font-size: 14px;
        font-weight: 500;
        color: #747474;
    }

    .introduccion-mensaje span:nth-child(2) {
        font-size: 20px;
        font-weight: 500;
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".introduccion-mensaje-texto", {
        opacity: 0,
        duration: 3,
        ease: "power3.out",
        scrollTrigger: {
            trigger: ".introduccion",
            start: "top 60%", 
            toggleActions: "play none none none"
        }
    });
</script>